{{ted-navbar name='Hoover'}}

<div class="container">
  {{#ted-nav}}
    {{#ted-nav-item 'home'}}
      Home
    {{/ted-nav-item}}
    {{ted-nav-item 'TED Talks' 'talks'}}
    {{ted-nav-item 'Users' 'users'}}
    {{ted-nav-item 'Conferences' 'conferences'}}

    {{#ted-nav-item right=true onClick=(action 'applicationAction')}}
      <i class="fa fa-gear"></i>
    {{/ted-nav-item}}
  {{/ted-nav}}

  {{outlet}}
</div>

