{{ted-navbar name='Hoover'}}

<div class="container">
  {{#ted-nav}}
    {{ted-nav-item route='home'}}
    {{ted-nav-item route='talks' label='TED Talks'}}
    {{ted-nav-item route='users'}}
    {{ted-nav-item route='conferences'}}

    {{#ted-nav-item route='settings' label='Settings' class='pull-right'}}
      <i class="fa fa-gear"></i>
    {{/ted-nav-item}}
  {{/ted-nav}}

  <div class="Ted-subnav-wrapper">
    <div class="Ted-subnav-wrapper__inner">
      {{outlet}}
    </div>
  </div>
</div>

